# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
downloads/

# Virtual Environments
venv/
.venv/
env/
.env/

# Environment variables and secrets
.env
.env.local
